# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Projet TD3/.vs/Projet TD3/v15/ipch/AutoPCH/93ba4983e0045bfe/MAIN.ipch
Projet TD3/.vs/Projet TD3/v15/ipch/AutoPCH/7ba7c1f1a4b0dbc7/GROUPE.ipch
Projet TD3/.vs/Projet TD3/v15/Browse.VC.opendb
Projet TD3/.vs/Projet TD3/v15/Browse.VC.db
Projet TD3/.vs/Projet TD3/v15/.suo
Projet TD3/Debug/vc141.pdb
Projet TD3/Debug/vc141.idb
Projet TD3/Debug/Projet TD3.tlog/unsuccessfulbuild
Projet TD3/Debug/Projet TD3.tlog/Projet TD3.lastbuildstate
Projet TD3/Debug/Projet TD3.tlog/CL.write.1.tlog
Projet TD3/Debug/Projet TD3.tlog/CL.read.1.tlog
Projet TD3/Debug/Projet TD3.tlog/CL.command.1.tlog
Projet TD3/Debug/Projet TD3.log
*.ipch
